{# 
  name - string - Name инпута для использования в форме
  class_name - string - Класс для кастомизации
  items - array of objects - Массив со значениями селекта
  selected - string of array - Массив со значениями селекта в json строке
  disabled - boolean - Неактивность
  placeholder - string - Плэйсхолдер
#}

<div class="input-multiselect js-component-multiselect {{ class_name ? class_name : '' }}" {{ disabled ? 'disabled' : '' }}>
  <input class="js-component-multiselect-value" name="{{ name ? name : '' }}" type="hidden" value="{{ selected|length > 0 ? selected|join(',') : '' }}">
  <div class="input-multiselect--selected js-component-multiselect--values">
    <div class="input-multiselect--placeholder {{ selected|length > 0 ? 'hidden' : '' }}">{{ placeholder ? placeholder : 'Выбрать...' }}</div>
    {% if selected|length > 0 %}
      {% for i in selected %}
        {% set nameOption = false %}

        {% for item in items %}
          {% if item.id == i %}
            {% set nameOption = item.option %}
          {% endif %}
        {% endfor %}

        <div data-id="{{ i }}" class="selected-value">
          <div class="selected-value--text">{{ nameOption ? nameOption : 'Not found' }}</div>
          <div class="selected-value--btn-container">
            <button
              class="selected-value-button js-component-multiselect--remove"
              type="button"
            >&times;</button>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <div class="input-multiselect--list js-component-multiselect-list hidden">
    <div class="input-multiselect--list-container">
      <ul class="input-multiselect--list-container--items">
        {% if items|length > 0%}
          {% for item in items %}
          {% if selected|length > 0 %}
            {% set is_selected = false %}
              {% for s in selected %}
                {% if s == item.id %}
                  {% set is_selected = true %}
                {% endif %}
              {% endfor %}
            {% endif %}
            <li
              data-value="{{ item.id }}"
              class="js-component-multiselect-item {{ is_selected ? 'selected' : '' }}"
            >{{ item.option }}</li>
          {% endfor %}
        {% else %}
          <p style="padding: 10px;">Значения не переданы.</p>
        {% endif %}
      </ul>
    </div>
  </div>
</div>